<div class="container" fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="center">
  <div fxFlex="90">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">network_wifi</i>
        </div>
        <mat-card-title>Network</mat-card-title>
        <mat-card-subtitle>Illustration purposes only</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="content">
        <img src="../../assets/network_overview.JPG">
        <P>
          Stolen from ubnt.com
        </P>
      </mat-card-content>
    </mat-card>
  </div>
</div>