<div class="container" fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="center">
  <div fxFlex="90">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">layers</i>
        </div>
        <mat-card-title>Layers</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Map Tiles
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-radio-group class="radio-group" [(ngModel)]="baseLayer">
              <mat-radio-button class="radio-button" *ngFor="let layer of layers" [value]="layer">
                {{layer}}
              </mat-radio-button>
            </mat-radio-group>
            <div class="selected-value">Selected base layer: {{baseLayer}}</div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Terrain
              </mat-panel-title>
            </mat-expansion-panel-header>
              <mat-checkbox class="checkbox" *ngFor="let terrain of terrains" [value]="terrain">
                {{terrain}}
              </mat-checkbox>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Tracks
                </mat-panel-title>
              </mat-expansion-panel-header>
                <mat-checkbox class="checkbox" *ngFor="let track of tracks" [value]="track">
                  {{track}}
                </mat-checkbox>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Network
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <mat-checkbox class="checkbox" *ngFor="let network of networks" [value]="network">
                    {{network}}
                  </mat-checkbox>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Fields
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                    <mat-checkbox class="checkbox" *ngFor="let field of fields" [value]="field">
                      {{field}}
                    </mat-checkbox>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Operations
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                      <mat-checkbox class="checkbox" *ngFor="let operation of operations" [value]="operation">
                        {{operation}}
                      </mat-checkbox>
                  </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>