<div class="container" fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="60">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image">
            <i class="material-icons">settings_input_component</i>
          </div>
          <mat-card-title>Devices</mat-card-title>
          <mat-card-subtitle>Simulated</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <h3 mat-subheader>GPS</h3>
                <mat-list-item *ngFor="let gps of gpss">
                  <mat-icon mat-list-icon>{{gps.icon}}</mat-icon>
                  <h4 mat-line>{{gps.name}}</h4>
                  <p mat-line> {{gps.detail}} </p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Screen</h3>
                <mat-list-item *ngFor="let screen of screens">
                  <mat-icon mat-list-icon>{{screen.icon}}</mat-icon>
                  <h4 mat-line>{{screen.name}}</h4>
                  <p mat-line> {{screen.detail}} </p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Sensors</h3>
                <mat-list-item *ngFor="let sensor of sensors">
                  <mat-icon mat-list-icon><img src="{{sensor.icon}}"></mat-icon>
                  <h4 mat-line>{{sensor.name}}</h4>
                  <p mat-line> {{sensor.detail}} </p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Tyre Pressure</h3>
                <mat-list-item *ngFor="let tyre of tyres">
                  <mat-icon mat-list-icon><img src="{{tyre.icon}}"></mat-icon>
                  <h4 mat-line>{{tyre.name}}</h4>
                  <p mat-line> {{tyre.detail}} </p>
                </mat-list-item>
              </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>