<div class="container" fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="60">
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="header-image">
                    <i class="material-icons">build</i>
                </div>
                <mat-card-title>Tools</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="container" fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="center">
                    <div fxFlex="30">
                        <button mat-raised-button color="primary">
                            <i class="material-icons">crop_din</i> Measure Area</button>
                    </div>
                    <div fxFlex="30">
                        <button mat-raised-button color="primary">
                            <i class="material-icons">timeline</i> Measure Length</button>
                    </div>
                    <div fxFlex="30">
                        <button mat-raised-button color="primary">
                            <i class="material-icons">fiber_manual_record</i> Record Distance</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        </div>
    </div>