<div class="container" fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="center">
  <div fxFlex="30">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">settings</i>
        </div>
        <mat-card-title>Settings</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Brightness</p>
        <mat-slider class="example-margin" [disabled]="false" [invert]="false" [max]="100" [min]="0" [step]="1" [thumbLabel]="true"
          [tickInterval]="false" [value]="78" [vertical]="false">
        </mat-slider>
        <p>
          <mat-slide-toggle [checked]="fullScreen" (toggleChange)="toggleFullScreen()">Fullscreen</mat-slide-toggle>
        </p>
        <p>
          <mat-slide-toggle>Speed</mat-slide-toggle>
        </p>
        <p>
          <mat-slide-toggle>Follow Me</mat-slide-toggle>
        </p>
        <p>
          <mat-slide-toggle>Auto Zoom</mat-slide-toggle>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>