<div class="container" fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="center">
  <div fxFlex="30">
    <mat-card class="card" (click)="toggle('assignment')">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">assignment</i>
        </div>
        <mat-card-title>Assignment</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30">
    <mat-card class="card" (click)="toggle('dashboard')">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">dashboard</i>
        </div>
        <mat-card-title>Dashboard</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30">
    <mat-card class="card" (click)="toggle('admin')">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">supervisor_account</i>
        </div>
        <mat-card-title>Admin</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30">
    <mat-card class="card" (click)="toggle('calendar')">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">calendar_today</i>
        </div>
        <mat-card-title>Calendar</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30" matBadge="15" matBadgeColor="warn">
    <mat-card class="card" (click)="toggle('contact')">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">contacts</i>
        </div>
        <mat-card-title>Contact</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30">
      <mat-card class="card" (click)="toggle('kpi')">
        <mat-card-header>
          <div mat-card-avatar class="header-image">
            <i class="material-icons">insert_chart</i>
          </div>
          <mat-card-title>KPI</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
  <div fxFlex="30">
    <mat-card class="card" (click)="toggle('tools')">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">build</i>
        </div>
        <mat-card-title>Tools</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30">
    <mat-card class="card" (click)="toggle('music')">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">library_music</i>
        </div>
        <mat-card-title>Music</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30">
    <mat-card class="card" (click)="toggle('cameras')">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">videocam</i>
        </div>
        <mat-card-title>Cameras</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30">
    <mat-card class="card" (click)="toggle('network')">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">network_wifi</i>
        </div>
        <mat-card-title>Network</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30">
      <mat-card class="card" (click)="toggle('devices')">
        <mat-card-header>
          <div mat-card-avatar class="header-image">
            <i class="material-icons">settings_input_component</i>
          </div>
          <mat-card-title>Devices</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
  <div fxFlex="30">
    <mat-card class="card" (click)="toggle('layers')">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">layers</i>
        </div>
        <mat-card-title>Layers</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30">
    <mat-card class="card" (click)="toggle('settings')">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">settings</i>
        </div>
        <mat-card-title>Settings</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30">
    <mat-card class="card" (click)="toggle('about')">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <i class="material-icons">info</i>
        </div>
        <mat-card-title>About</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
</div>